.navbar.color{
    padding: 0;
    height: 1%;
}

.w-20{
    padding-top: 1%;
    margin: 0;
    width: 20%;
}
.w-20:nth-child(1){
    background-color: #fef200;
}
.w-20:nth-child(2){
    background-color: #bed73d;
}
.w-20:nth-child(3){
    background-color: #007bff;
}
.w-20:nth-child(4){
    background-color: #d91b5c;
}
.w-20:nth-child(5){
    background-color: #ef519e;
}


.btn-1{
    border-color: #fff;
    color: #fff;
    background-color: #bed73d;
}
.btn-1:hover{
    color: #fff;
    background-color: #d0daa2;
}
.btn-2{
    border-color: #fff;
    color: #fff;
    background-color: #007bff;
}
.btn-2:hover{
    color: #fff;
    background-color: #64acfa;
}
.btn-3{
    border-color: #fff;
    color: #fff;
    background-color: #d91b5c;
}
.btn-3:hover{
    color: #fff;
    background-color: #d6678e;
}
.btn-4{
    border-color: #fff;
    color: #fff;
    background-color: #ef519e;
}
.btn-4:hover{
    color: #fff;
    background-color: #e68cb7;
}
.btn-5{
    border-color: #fff;
    color: #fff;
    background-color: #fef200;
}
.btn-5:hover{
    color: #fff;
    background-color: #f9f272;
}

input.input{
    width: 80%;
}
.btn.btn-primary{
    position: absolute;
    top: 80%;
    right: 5%;
    width: 40%;
    border-color: #fff;
    color: #fff;
}
.btn.btn-primary:hover{
    border-color: #007bff;
    color: #007bff;
    background-color: #fff;
}

input.form-control-plaintext{
    border-bottom-style: solid;
    border-width: 2px;
    width: 50%;
}
input.input{
    outline: 0;
    border-width: 0;
    border-bottom: 1px solid black;
    width: 50%;
}

.btn.w-25{
    margin-top: 10%;
    border-color: #fff;
    color: #fff;
    background-color: #bed73d;
}

.btn.w-25:hover{
    background-color: #d0daa2;
}

.row.form{
    margin-top: 10%;
}

button.aperture{
    background-color: #fff;
}
.mx-10{
    margin-left: 40%;
}

.mx-9{
    margin-left: 30%;
}