{% extends "select_zip/base.html" %}
{% block content %}
{% load static %}
    <style>
        .box{
            border: solid black;
            width: 485px;
            height: 300px;
        }
        * {box-sizing: border-box;}
        ul {list-style-type: none;}
        body {font-family: Verdana, sans-serif;}

        .month {
            padding: 70px 25px;
            width: 100%;
            background: rgba(0,123,255,.5);
            text-align: center;
        }

        .month ul {
            margin: 0;
            padding: 0;
        }

        .month ul li {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        .month .prev {
            float: left;
            padding-top: 10px;
        }

        .month .next {
            float: right;
            padding-top: 10px;
        }

        .weekdays {
            margin: 0;
            padding: 10px 0;
            background-color: #ddd;
        }

        .weekdays li {
            display: inline-block;
            width: 13.6%;
            color: #666;
            text-align: center;
        }

        .days {
            padding: 10px 0;
            background: #eee;
            margin: 0;
        }

        .days li {
            list-style-type: none;
            display: inline-block;
            width: 13.6%;
            text-align: center;
            margin-bottom: 5px;
            font-size:12px;
            color: #777;
        }

        .days li .active {
            padding: 5px;
            background: #1abc9c;
            color: white !important
        }

        /* Add media queries for smaller screens */
        @media screen and (max-width:720px) {
            .weekdays li, .days li {width: 13.1%;}
        }

        @media screen and (max-width: 420px) {
            .weekdays li, .days li {width: 12.5%;}
            .days li .active {padding: 2px;}
        }

        @media screen and (max-width: 290px) {
            .weekdays li, .days li {width: 12.2%;}
        }
    </style>
    <div class="row text-center p-5">
        <div class="col-6">
            <div class="month">      
                <ul>
                  <li class="prev">&#10094;</li>
                  <li class="next">&#10095;</li>
                  <li>June<br>
                    <span style="font-size:18px">2020</span>
                  </li>
                </ul>
              </div>
              <ul class="weekdays">
                <li>Mo</li><li>Tu</li><li>We</li><li>Th</li><li>Fr</li><li>Sa</li><li>Su</li>
              </ul>
              <ul class="days">  
                {% for day in days %}
                    <li>{{ day }}</li>
                {% endfor %}
              </ul>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <form class="form-inline">
                        <!-- <img src="{% static 'select_zip/photo/search.png' %}" width="30px"> -->
                        <input class="form-control form-control-sm" type="text" placeholder="Name" aria-label="Search">
                    </form>
                </div>
                <div class="col-12">
                    <div class="box">
                        <p>---------- Drop here ----------</p>
                    </div><br>
                    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}