{% extends "sidebar.html" %}
{% load static %}
{% block content %}
<div class="row mt-5">

    {% if st %}
    {% for store in stores %}
      <div class="col-3">
        <div class="card" >
          <img src="{{ store.store_pic.url }}" class="card-img-bottom" alt="image">
          {% if perms.management.add_cost %}
              {% for c in cost %}
                {% if c.0 == store.store_id %}
                  {% if c.1 > 0 %}
                    <a href="{% url 'expenses_details' store.store_id %}" class="btn btn-primary">View Expenses and Bill</a>
                  {% else %}
                    <a href="{% url 'edit_expenses' store.store_id %}" class="btn btn-primary">Add Expenses and Bill</a>
                  {% endif %}
                {% endif %}
              {% endfor %}
          {% else %}
            {% if perms.management.change_store %}
              <a href="{% url 'store_detail_edit' store.store_id %}" class="btn btn-primary">view</a>
            {% else %}
              <a href="{% url 'store_detail' store.store_id %}" class="btn btn-primary">view</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
    {% else %}
    {% for aperture in apertures %}
      <div class="col-3">
        <div class="card" >
          <img src="{{ aperture.aper_pic.url }}" class="card-img-bottom" alt="image">
            {% if aperture.aper_status == True and aperture.store_store_id == null %}
              <a href="{% url 'add_store' aperture.aper_id %}" class="btn btn-primary">Add Store</a>
            {% else %}
              {% if perms.management.change_store %}
                <a href="{% url 'sale_view' aperture.aper_id %}" class="btn btn-primary">view</a>
              {% else %}
                <a href="{% url 'aperture_detail' aperture.aper_id %}" class="btn btn-primary">view</a>
              {% endif %}
            {% endif %}
        </div>
      </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}