{% extends 'nav.html' %}
{% block sidebar %}
<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<div class="row-2 m-3">
    <form action="{% url 'edit_store' store.store_id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-12">
        <div class="row">
            <div class="col-7 p-7 text-white">
                <table class="table" >
                    <thead>
                        <tr>
                            <th colspan="2" >
                                <center>ข้อมูลร้านค้า</center>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td>ชื่อร้านค้า</td>
                            <td>{{ form.store_name }}</td>
                        </tr>
                        <tr align="center">
                            <td>เบอร์โทรร้านค้า</td>
                            <td>{{ form.phone }}</td>
                        </tr>
                        <tr align="center">
                            <td>ชื่อสาขาร้าน</td>
                            <td>{{ form.branch }}</td>
                        </tr>
                        <tr align="center">
                            <td>ค่าใช้จ่ายทั้งหมด</td>
                            <td>{{ form.cost_total }}</td>
                        </tr>
                        <tr align="center">
                            <td>รายการที่ซ่อมแซม</td>
                            <td>{{ form.repaired }}</td>
                        </tr>
                        <tr align="center">
                            <td>หมายเหตุ</td>
                            <td>{{ form.other_notes }}</td>
                        </tr>
                        <tr align="center">
                            <td>ชื่อผู้จัดการร้านค้า</td>
                            <td>{{ form.manage_manag_id }}</td>
                        </tr>
                        <tr align="center">
                            <td>ชื่ออบริษัทร้านค้า</td>
                            <td>{{ form.company_company_id }}</td>
                        </tr>
                        <tr align="center">
                            <td>เลือกรูปภาพร้านค้า</td>
                            <td>{{ form.store_pic }}</td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <div class="col-4 p-5 ml-5 bg-dark text-white">
                <div class="bg-white text-white">
                    <img id="blah" width="400px" src="{{ store.store_pic.url }}">
                </div>
                <br>
                <center>
                    <br>
                    <h4>You want to save details?</h4>
                    {{ form.errors }}
                </center>
                <br>
                <button type="submit" class="btn btn-warning btn-lg btn-block">Save</button><br>
                <a href="{% url 'index' %}"><button type="button" class="btn btn-warning btn-lg btn-block">Back</button></a>
            </div>
        </div>
    </div>
    </form>
</div>
{% endblock sidebar %}