{% extends 'nav.html' %}
{% block sidebar %}
<div class="wrapper " align ="center" style="margin-top:10%">
    <div class="col-4 p-5 ml-5 bg-dark text-white">
        <div class="bg-white text-white">
        </div>
        <br>
        <center>
            <h4>You want to remove this store?</h4>
        </center>
        <br>
        <form action="{% url 'remove_store' store_id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning btn-lg btn-block">Yes</button>
        </form>
        <br>
        <a href="{% url 'index' %}" class="btn btn-warning btn-lg btn-block">No</a>
        <br>
    </div>
  </div>
{% endblock sidebar %}