{% extends "nav.html" %}
{% load static %}
{% block sidebar %}
<form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
<div class="container text-center">
    <h1 class="mt-5">Welcome to be part of us</h1>
        <div class="row form">
            <div class="form-group col-5">
                <div class="row justify-content-end mr-2 mb-3">
                    <label for="staticEmail" class="input">Username</label>
                </div>
                <div class="row justify-content-end mr-2 mb-3">
                    <label for="inputPassword" class="input">Password</label>
                </div>
                <div class="row justify-content-end mr-2 mb-3">
                    <label for="inputPassword" class="input">Cornfirm Password</label>
                </div>
                <div class="row justify-content-end mr-2 mb-3">
                        <label for="inputPassword" class="input">ชื่อบริษัท</label>
                </div>
                <div class="row justify-content-end mr-2 mb-3">
                        <label for="inputPassword" class="input">ที่ตั้งบริษัท</label>
                </div>
                <div class="row justify-content-end mr-2 mb-3">
                        <label for="inputPassword" class="input">เบอร์ติดต่อบริษัท</label>
                </div>
                <div class="row justify-content-end mr-2 mb-3">
                        <label for="inputPassword" class="input">ชื่อจริงผู้ที่ติดต่อ</label>
                </div>
                <div class="row justify-content-end mr-2 mb-3">
                        <label for="inputPassword" class="input">นามสุกลผู้ที่ติดต่อ</label>
                </div>
                <div class="row justify-content-end mr-2 mb-3">
                        <label for="inputPassword" class="input">หมายเหตุ</label>
                </div>
            </div>
            <div class="form-group col-5 ml-5">
                <div class="row mb-3">
                    <input type="text" class="input" name="username"
                    {% if errors %}
                        value="{{ username }}"
                    {% endif %} required>
                </div>
                <div class="row mb-3">
                    <input type="password" class="input" name="password1"
                    {% if errors %}
                        value="{{ password1 }}"
                    {% endif %} required>
                </div>
                <div class="row mb-4">
                    <input type="password" class="input" name="password2"
                    {% if errors %}
                        value="{{ password2 }}"
                    {% endif %} required>
                </div>
                    <div class="row mb-4">
                        <input class="input" type="text" name="company_name">
                    </div>
                    <div class="row mb-4">
                        <input class="input" type="text" name="company_address">
                    </div>
                    <div class="row mb-4">
                        <input class="input" type="text" name="company_phone">
                    </div>
                    <div class="row mb-4">
                        <input class="input" type="text" name="contract_fname">
                    </div>
                    <div class="row mb-4">
                        <input class="input" type="text" name="contract_lname">
                    </div>
                    <div class="row">
                        <textarea class="input" rows="3" cols="29" name="other_notes"></textarea>
                    </div>
        </div>
        {% if errors %}
            {% for error in errors %}
                <small class="form-text text-danger text-center" style="margin-bottom: 4;">{{ error }}</small>
            {% endfor %}
        {% endif %}
</div>
<button class="btn btn-outline-light w-25 mb-2" type="submit">Confirm</button>
    </form>
{% endblock sidebar %}