{% extends 'nav.html' %}
{% block sidebar %}
    <div class="row m-3">
        <div class="col-12 p-5 bg-secondary text-white">
            <img class="aperture rounded img-fluid" src="{{ aper.aper_pic.url }}">
        </div>
        <div class="col-12">
            <div class="row mt-5">
                <div class="col-6 text-right">
                    <h4>รหัสห้องว่าง : {{ aper.aper_id }}</h4>
                </div>
                <div class="col-6">
                    {% if aper.aper_status %}
                        <h4 class="text-danger">สถานะพื้นที่ : ไม่ว่าง ( {{ aper.store_store_id.store_name }} )</h4>
                    {% else %}
                        <h4 class="text-success">สถานะพื้นที่ : ว่าง</h4>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6 text-right">
                    <h4>ขนาดพื้นที่ : {{ aper.aper_area }} ตารางเมตร</h4>
                </div>
                <div class="col-6">
                    <h4>วันที่ออกสัญญา : {{ aper.issue_date }}</h4>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6 text-right">
                    <h4>ที่ตั้ง : {{ aper.aper_loc }}</h4>
                </div>
                <div class="col-6">
                    <h4>ราคา : {{ aper.aper_price }} บาท/เดือน</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock sidebar %}